	<div class ="post_wrapper">
<% @posts.each do |post| %>
		<p><h2 class = "Title"> <%= link_to post.Title, post %></h2></p>
		<p class = "date"> <%= post.created_at.strftime("%B, %d, %Y ") %></p>
<% end %>
	<div class ="post_wrapper">